app = "laracheckin"
primary_region = "gru"

[build]

[env]
  APP_ENV = "production"
  APP_DEBUG = "false"
  LOG_CHANNEL = "stack"
  LOG_LEVEL = "error"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_gb = 0.256

[mounts]
  source = "laracheckin_data"
  destination = "/var/www/html/database"

